[submodule "Web"]
	path = Web
	url = https://github.com/IDKiro/Xenoblade2Voice-Web.git
[submodule "Desktop"]
	path = Desktop
	url = https://github.com/IDKiro/Xenoblade2Voice-Desktop
[submodule "Electron"]
	path = Electron
	url = https://github.com/IDKiro/Xenoblade2Voice-Electron.git
